.app-chart{
    display: block;
    position: relative;
    float: right;
}

  /* ['#0088FE','#90ff35', '#00C49F', '#FFBB28', '#FF8042','#1300e0','#01FF50','#f3f2ff','#ff4d88','#f4fa85','#8a23ba','#2380ba']; */

